.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(128, 128, 128, 0.299);
   border-radius: 20px;
 }
 .cartModal {
   position: absolute;
   z-index: 1;
   right: 0;
   bottom: 0;
   width: 350px;
   height: 100%;
   background-color: white;
   border-radius: 0 20px 20px 0;
   .cartModalContainer {
     padding: 20px;
     display: flex;
     flex-direction: column;
     height: 95%;
    .cartModalBlock {
      display: flex;
      flex-direction: column;
      height: 95%;
     .cartModalContent {
       overflow: auto;
       flex: 1;
       display: flex;
       flex-direction: column;
       gap: 20px;
       margin-bottom: 30px;
     }

    }
      .emptyCartBlock {
        padding: 30px;
        .emptyCartTitle {
          text-align: center;
          margin-bottom: 30px;
        }
        .emptyCartImage {
          margin-bottom: 30px;
        }
        .cartModalBtn {
          button {
            width: 100%;
            background-color: rgb(68, 208, 68);
            display: flex;
            justify-content: space-between;
            padding: 15px;
            border-radius: 20px;
            border: 0;
            color: white;
            font-weight: bold;
              &:hover {
                background-color: lighten($color: rgb(68, 208, 68), $amount: 10);
                transition: background-color 0.2s ease-in-out;
                span {
                  transform:translateX(-20px);
                  transition: transform 0.2s ease-in-out;
                }
              &:active {
                background-color: darken($color: rgb(68, 208, 68), $amount: 10);
                transition: background-color 0.2s ease-in-out;
                img {
                  transform: translateX(-40px);
                  transition: transform 0.1s ease-in-out;
                }
              }
            }
            img {
              transform: rotate(180deg);
            }
          }
        }
     }
   }
 }