       .cartModalCard {
         display: flex;
         align-items: center;
         gap: 10px;
         border: 1px solid rgba(128, 128, 128, 0.296);
         border-radius: 20px;
         padding: 10px;
         .cartModalCardItems {
           display: flex;
           flex-direction: column;
           gap: 5px;
           .cartModalCardItemsTitle {
             font-size: 14px;
           }
           .cartModalCardItemsPrice {
             font-weight: bold;
             font-size: 14px;
           }
         }
       }