* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
}

.wrapper {

  position: relative;
  background-color: white;
  box-shadow: 0 10px 20px black;
  border-radius: 20px;

  max-width: 1080px;
  margin: 50px auto;

  .content {
    padding: 40px;
    .contentHeader {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .contentHeaderInput {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid rgba(128, 128, 128, 0.412);
        border-radius: 20px;
        padding: 10px;
        input {
          outline: none;
          border: 0;
        }
      }
    }
    .contentCards {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

  }

}

